# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/u1783223/public_html/balidiving.com/main-website/node.js"
PassengerBaseURI "/"
PassengerNodejs "/home/u1783223/nodevenv/public_html/balidiving.com/main-website/node.js/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END