RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://air-diving-academy.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://air-diving-academy.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://air-diving-academy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://air-diving-academy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://as.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://as.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://axeliashop.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://axeliashop.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://booking.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://booking.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://crm.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://crm.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://desainpedia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://desainpedia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://develop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://develop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dp.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dp.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gallery.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gallery.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://id.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://id.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kab.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kab.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kab.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kab.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://landingpage.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://landingpage.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mail.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mail.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ptbalisunfishsafaris.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ptbalisunfishsafaris.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ptbalisunfishsafaris.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ptbalisunfishsafaris.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://review.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://review.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://script.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://script.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scuba.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scuba.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://store.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://store.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.air-diving-academy.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.air-diving-academy.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.air-diving-academy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.air-diving-academy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.as.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.as.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.axeliashop.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.axeliashop.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.booking.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.booking.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.crm.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.crm.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.desainpedia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.desainpedia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.develop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.develop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dp.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dp.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gallery.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gallery.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.id.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.id.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kab.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kab.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kab.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kab.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.landingpage.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.landingpage.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mail.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mail.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ptbalisunfishsafaris.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ptbalisunfishsafaris.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ptbalisunfishsafaris.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ptbalisunfishsafaris.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.review.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.review.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.script.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.script.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scuba.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scuba.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.store.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.store.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://air-diving-academy.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://air-diving-academy.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://air-diving-academy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://air-diving-academy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://as.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://as.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://axeliashop.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://axeliashop.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://booking.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://booking.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://crm.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://crm.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://desainpedia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://desainpedia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://develop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://develop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dp.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dp.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gallery.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gallery.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://id.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://id.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kab.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kab.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kab.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kab.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://landingpage.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://landingpage.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mail.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mail.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ptbalisunfishsafaris.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ptbalisunfishsafaris.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ptbalisunfishsafaris.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ptbalisunfishsafaris.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://review.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://review.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://script.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://script.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scuba.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scuba.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://store.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://store.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.air-diving-academy.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.air-diving-academy.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.air-diving-academy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.air-diving-academy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.as.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.as.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.axeliashop.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.axeliashop.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.booking.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.booking.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.crm.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.crm.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.desainpedia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.desainpedia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.develop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.develop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dp.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dp.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gallery.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gallery.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.google.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.google.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.id.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.id.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kab.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kab.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kab.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kab.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.landingpage.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.landingpage.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mail.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mail.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.notion.so/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.notion.so$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pinterest.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pinterest.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ptbalisunfishsafaris.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ptbalisunfishsafaris.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ptbalisunfishsafaris.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ptbalisunfishsafaris.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reddit.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reddit.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.review.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.review.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.script.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.script.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scuba.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scuba.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shop.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shop.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.store.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.store.balidiving-lama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.twitter.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.twitter.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://club.balidiving-lama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://club.balidiving-lama.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|bmp)$ - [F,NC]


<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 36.86.63.182
